*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #3c1239;
  color: white;
}
.container .card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}